<!DOCTYPE html>
<html>
<head>
  <title>Niks</title>
  <%= css :cssapp %>
</head>
<body>
  <p>templarw</p>

  <%= yield %>

  <script src="http://code.jquery.com/jquery.js"></script>
  <%= js :jsapp %>
</body>
</html>
